@font-face {
  font-family: 'jaapokki';
  src: url('/resources/Jaapokki-Regular.otf');
}

@font-face {
  font-family: 'helvetica';
  src: url('/resources/HelveticaNeue.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.spacer {
  width: 100%;
  height: 120px;
}

.spacer-s {
  width: 100%;
  height: 10%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #161616;
}

.navbar {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: space-between;
  padding: 0px 7%;
}

.modity-logo {
  width: 50px;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.navbar ul li {
  display: inline;
  padding: 0px 20px;
  text-transform: uppercase;
  color: white;
}

.navbar ul li a {
  font-family: 'helvetica';
  text-decoration: none;
  color: white;
  font-weight: 200;
  transition: 0.3s ease;
  letter-spacing: 2px;
}

.navbar ul li a:hover {
  color: yellow;
  text-shadow:0px 0px 20px #fdec6e;
}

.heading {
  padding: 0px 95px;
  position: relative;
}

.heading h1 {
  font-family: 'jaapokki';
  color: white;
  font-size: 128px;
  line-height: 120px;
}

.heading h1 span {
  font-family: 'jaapokki';
}


.heading .indent {
  padding-left: 350px;
}

.heading h1 .m1 {
  color: #116F5D;
}

.heading h1 .m2 {
  color: #1ABC9C;
}

.heading p {
  font-family: 'helvetica';
  font-size: 20px;
  font-weight: 200;
  color: yellow;
  position: absolute;
  right: 130px;
  bottom: 70px;
  letter-spacing: 1px;
}

.services {
  padding: 0px 100px;
  display: flex;
}

.services .item {
  border: 1px solid white;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  font-family: 'helvetica';
  transition: 0.5s ease;
}

.services .item:hover {
  border: 1px solid white;
  color: black;
  background-color: white;
}

.services .extended {
  padding-right: 200px;
}

.heading-mobile {
  display: none;
}

@media screen and (max-width: 450px) {
  
  .heading-mobile {
    display: block;
  }

  .spacer {
    height: 70px;
  }

  .spacer-s {
    display: none;
  }

  .heading-mobile h1 {
    font-family: 'jaapokki';
    color: white;
    line-height: 45px;
    font-size: 45px;
    padding: 0px 30px;
  }

  .heading-mobile p {
    font-family: 'helvetica';
    font-size: 20px;
    font-weight: 200;
    color: yellow;
    padding: 20px 30px 30px 30px;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    padding:  0px 30px;
    align-items: center;
  }

  .navbar ul li a {
    font-size: 12px;
  }

  .modity-logo {
    display: inline-block;
    margin-bottom: 30px;
  }

  .heading {
    padding: 0;
    display: none;
  }

  .services {
    flex-direction: column;
    padding: 0px 30px;
  }

  .services br {
    content: " ";
    display: none;
  }

  .services .item {
    padding-right: 200px;
    font-size: 25px;
    padding: 15px 10px;
  }
}

@media screen and (max-width: 1180px) {
  .wrapper {
    transform: scale(1);
    overflow: scroll;
  }

  .heading h1 {
    font-size: 600%;
    line-height: 100px;
  }

  .heading p {
    bottom: 50px;
  }
}